<div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='../../images/whatsnew/20141202-ebola-spencer-discharge-sm.jpg' /></div><a href='../../html/feature/ebola-update.shtml?whatsnew=1'> Ebola Update </a><div class='text'>Active 21-Day Monitoring Period for Health Care Workers Who Cared For Ebola Patient Ends</div>
<div class='fullstory'><a href='../../html/feature/ebola-update.shtml?whatsnew=1'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='../../images/whatsnewflu.jpg' /></div><a href='../../html/news/News-PressReleases.shtml?whatsnew=2'> It's Not Too Late to Get Vaccinated </a><div class='text'>Get vaccinated now to be protected before the peak of flu season. </div>
<div class='fullstory'><a href='../../html/news/News-PressReleases.shtml?whatsnew=2'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='../../images/healthy/10-tips-for-healthy-holidays.jpg' /></div><a href='../../html/patients/10-tips-for-healthy-holidays.shtml?whatsnew=3'> 10 Tips for Healthy Holidays </a><div class='text'>Love the holiday food but want to avoid packing on the pounds?

</div>
<div class='fullstory'><a href='../../html/patients/10-tips-for-healthy-holidays.shtml?whatsnew=3'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='../../images/email/joint-commision-key-sm.jpg' /></div><a href='../../html/news/News-PressReleases.shtml?whatsnew=4'> HHC Hospitals Cited as 'Top Performers' </a><div class='text'>Joint Commission Names 3 HHC Hospitals Among the Best</div>
<div class='fullstory'><a href='../../html/news/News-PressReleases.shtml?whatsnew=4'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='../../images/ribbon_cutting.jpg' /></div><a href='../../html/news/press-release-20141117-supporting-housing-developments.shtml?whatsnew=5'> HHC/CAMBA Partnership Paying Off </a><div class='text'>New supportive housing on Kings County Hospital campus
</div>
<div class='fullstory'><a href='../../html/news/press-release-20141117-supporting-housing-developments.shtml?whatsnew=5'> Full Story </a></div></div>