<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slide.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @slide.link %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @slide.image_url %>
</p>

<p>
  <strong>Thumb url:</strong>
  <%= @slide.thumb_url %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @slide.slug %>
</p>

<p>
  <strong>Date:</strong>
  <%= @slide.date %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
