/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 576px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 20px;  }
    .container .two.columns                     { width: 50px; }
    .container .three.columns                   { width: 80px; }
    .container .four.columns                    { width: 110px; }
    .container .five.columns                    { width: 140px; }
    .container .six.columns                     { width: 170px; }
    .container .seven.columns                   { width: 200px; }
    .container .eight.columns                   { width: 230px; }
    .container .nine.columns                    { width: 260px; }
    .container .ten.columns                     { width: 290px; }
    .container .eleven.columns                  { width: 320px; }
    .container .twelve.columns                  { width: 350px; }
    .container .thirteen.columns                { width: 380px; }
    .container .fourteen.columns                { width: 410px; }
    .container .fifteen.columns                 { width: 440px; }
    .container .sixteen.columns                 { width: 576px; } 

    .container .one-third.column                { width: 150px; } 
    .container .two-thirds.column               { width: 310px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 30px;  }
    .container .offset-by-two                   { padding-left: 60px; }
    .container .offset-by-three                 { padding-left: 90px; }
    .container .offset-by-four                  { padding-left: 120px; }
    .container .offset-by-five                  { padding-left: 150px; }
    .container .offset-by-six                   { padding-left: 180px; }
    .container .offset-by-seven                 { padding-left: 210px; }
    .container .offset-by-eight                 { padding-left: 240px; }
    .container .offset-by-nine                  { padding-left: 270px; }
    .container .offset-by-ten                   { padding-left: 300px; }
    .container .offset-by-eleven                { padding-left: 330px; }
    .container .offset-by-twelve                { padding-left: 360px; }
    .container .offset-by-thirteen              { padding-left: 390px; }
    .container .offset-by-fourteen              { padding-left: 420px; }
    .container .offset-by-fifteen               { padding-left: 450px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 374px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 14px; }
        .container .two.columns                     { width: 38px; }
        .container .three.columns                   { width: 62px; }
        .container .four.columns                    { width: 86px; }
        .container .five.columns                    { width: 110px; }
        .container .six.columns                     { width: 134px; }
        .container .seven.columns                   { width: 158px; }
        .container .eight.columns                   { width: 182px; }
        .container .nine.columns                    { width: 206px; }
        .container .ten.columns                     { width: 230px; }
        .container .eleven.columns                  { width: 254px; }
        .container .twelve.columns                  { width: 278px; }
        .container .thirteen.columns                { width: 302px; }
        .container .fourteen.columns                { width: 326px; }
        .container .fifteen.columns                 { width: 350px; }
        .container .sixteen.columns                 { width: 374px; }

        .container .one-third.column                { width: 118px; }
        .container .two-thirds.column               { width: 246px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 24px; }
        .container .offset-by-two                   { padding-left: 48px; }
        .container .offset-by-three                 { padding-left: 72px; }
        .container .offset-by-four                  { padding-left: 96px; }
        .container .offset-by-five                  { padding-left: 120px; }
        .container .offset-by-six                   { padding-left: 144px; }
        .container .offset-by-seven                 { padding-left: 168px; }
        .container .offset-by-eight                 { padding-left: 192px; }
        .container .offset-by-nine                  { padding-left: 216px; }
        .container .offset-by-ten                   { padding-left: 240px; }
        .container .offset-by-eleven                { padding-left: 264px; }
        .container .offset-by-twelve                { padding-left: 288px; }
        .container .offset-by-thirteen              { padding-left: 312px; }
        .container .offset-by-fourteen              { padding-left: 336px; }
        .container .offset-by-fifteen               { padding-left: 360px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
