<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :healthy_tip_layout %><br>
    <%= f.text_field :healthy_tip_layout %>
  </div>
  <div class="field">
    <%= f.label :healthy_tip_archive_layout %><br>
    <%= f.text_field :healthy_tip_archive_layout %>
  </div>
  <div class="field">
    <%= f.label :in_the_news_layout %><br>
    <%= f.text_field :in_the_news_layout %>
  </div>
  <div class="field">
    <%= f.label :in_the_news_archive_layout %><br>
    <%= f.text_field :in_the_news_archive_layout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
