<h1>Listing settings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Healthy tip layout</th>
      <th>Healthy tip archive layout</th>
      <th>In the news layout</th>
      <th>In the news archive layout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.name %></td>
        <td><%= setting.healthy_tip_layout %></td>
        <td><%= setting.healthy_tip_archive_layout %></td>
        <td><%= setting.in_the_news_layout %></td>
        <td><%= setting.in_the_news_archive_layout %></td>
        <td><%= link_to 'Show', setting %></td>
        <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
        <td><%= link_to 'Destroy', setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setting', new_setting_path %>
