<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @setting.name %>
</p>

<p>
  <strong>Healthy tip layout:</strong>
  <%= @setting.healthy_tip_layout %>
</p>

<p>
  <strong>Healthy tip archive layout:</strong>
  <%= @setting.healthy_tip_archive_layout %>
</p>

<p>
  <strong>In the news layout:</strong>
  <%= @setting.in_the_news_layout %>
</p>

<p>
  <strong>In the news archive layout:</strong>
  <%= @setting.in_the_news_archive_layout %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
