// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

//= require activeadmin-sortable

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }






#mceu_16{
	float: left;
}

#mceu_53{
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}



form fieldset ol > li label{
	width: 100%;
}

form fieldset ol > li{
	width: 600px;
}

.mceLayout{
	width: 600px;
}


body.logged_out h2{
	background: #0a5089;
	
}

#header ul.tabs > li:hover > a{
	background: #0a5089;
}

form input[type=submit]{
	text-shadow: none;
	border: 1px solid #0a5089;
}

input[type="submit"]:hover{
	background: #0a5089;

	text-shadow: none;
	border: 1px solid #0a5089;
}

form fieldset ol > li label{
	width: 100%;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form textarea{
	width: 620px;
}

#active_admin_content{
	padding: 0px;

}

#collection_selection{
	margin-right: 0px;
	padding: 30px;
}

#main_content .panel{
	margin: 0px;
}

.attributes_table{
	padding: 40px;
}

form fieldset.inputs{
	border-radius: 0px;
	padding-left: 80px;
	padding-top: 40px;

}

#main_content h3{
	display: none;
}

legend{
	display: none;
}


form fieldset.actions li {
	float: left;
	padding-left: 0px;
	margin-left: 90px;
	width: 150px;
}

form fieldset.actions li.cancel {
	float: left;
	padding-left: 0px;
	margin-left: 0px;
	width: 150px;
}

//#title_bar{
//	background: #0a5089;
//	border: none;
//	color: #fff;
//	text-shadow: none;
//}



#header {
	background: #096fb3;
}

#header ul.tabs > li a {
	text-decoration: none;
	padding: 6px 10px 4px 10px;
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
}
#title_bar {
background: #efefef;
}


#header ul.tabs > li.current > a {
background: #033F70;
color: #fff;
}

#header ul.tabs > li.has_nested.current > a {
	background: #033F70;
}

#header a, #header a:link {
color: #fff;
}

#header ul.tabs > li.has_nested:hover > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-bottom: 10px solid #096fb3;
	background: #096fb3 url(/assets/active_admin/nested_menu_arrow_dark.gif) no-repeat calc(100% - 7px) 50%;
	z-index: 1020;
}


#header ul.tabs > li ul {
	background: #096fb3;
	border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	box-shadow: 0 0px 0px #444444;
	-moz-box-shadow: 0 0px 0px #444444;
	-webkit-box-shadow: 0 0px 0px #444444;
	position: absolute;
	width: 120%;
	min-width: 175px;
	max-width: calc(100% + 20px);
	margin-top: 5px;
	float: left;
	display: none;
	padding: 3px 0px 5px 0;
	list-style: none;
	z-index: 1010;
}

.mceEditor{
	float: left;
	margin-bottom: 20px;
}


// -------------------------------------- Date Picker
.ui-datepicker {
  background: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  display: none;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 160px;

  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }

  .ui-datepicker-header {
    height: 14px;
    @include primary-gradient;
    padding: 12px 5px 7px 4px;
    margin: 0px 0px 2px 2px;
    width: 147px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
    z-index: 2000;

    &:before {
       content: "";
       position: absolute;
       right: 45%;
       top: -6px;
       width: 0px;
       height: 0px;
       border-left: 8.5px solid rgba(0, 0, 0, 0);
       border-right: 8.5px solid rgba(0, 0, 0, 0);
       border-bottom: 10px solid #676e73;
    }

    .ui-datepicker-title {
      @include text-shadow(#000);
      color: #fff;
      display: block;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 0.8em;
      text-align: center;

      .ui-datepicker-month {
        margin: -4px 0 0 0;
      }
      .ui-datepicker-year {
        margin: -4px 0 0 0;
      }
    }


    a {
      color: #fff;
      display: block;
      height: 19px;
      margin-top: -4px;
      width: 10px;

      &.ui-datepicker-prev {
        float: left;
        width: 0;
        height: 0;
        margin: 0px 0px 0px 4px;
        border-top: 5px solid transparent;
        border-right: 5px solid white;
        border-bottom: 5px solid transparent;
      }
      &.ui-datepicker-next {
        float: right;
        width: 0;
        height: 0;
        margin: 0px 4px 0px 0px;
        border-top: 5px solid transparent;
        border-left: 5px solid white;
        border-bottom: 5px solid transparent;
      }

      span {
        display: none;
      }
    }
  }

  table.ui-datepicker-calendar {
    @include rounded-bottom;
    @include shadow(0,1px,6px,rgba(0,0,0,0.26));
    background-color: #f4f4f4;
    border: solid 1px #63686e;
    left: 2px;
    margin-bottom: 0px;
    position: relative;
    top: -2px;
    width: 156px;

    td, th {
      padding: 0px;
      text-align: center;
    }

    thead th {
      background-color: #dbdddf;
      color: #333333;
      font-weight: normal;
      font-size: 0.8em;
      padding-top: 1px;
    }

    tbody {
      color: #666666;

      td {
        border: none;
        height: 24px;
        width: 22px;

        a {
          @include rounded;
          color: #666666;
          font-weight: bold;
          font-size: 0.85em;
          padding: 4px;

          &.ui-state-active {
            background-color: #5a5f64;
            color: #fff;
            &.ui-state-hover {
              background-color: #5a5f64;
              color: #fff;
            }
          }
          &.ui-state-hover {
            background-color: #eceef0;
          }
          &.ui-state-highlight {
            background-color: #dbdddf;
          }
        }
      }
    }
  }
}
