<style type="text/css">
.head a {
	color: #ffffff; /*white*/
	text-decoration: underline;
	font-size: 11px;
}
.head a:hover {
	color: #ffffff; /*white*/
	text-decoration: underline;
	font-size: 11px;
}
.text {
	margin-top:7px;
	margin-right:5px;
	font-size: 12px;
	line-height:17px;
}
</style>
<script type="text/javascript" src="../../includes/scripts/whatsnew/contentslider.js">
</script>

<!--Inner content DIVs should always carry "contentdiv" CSS class-->
<!--Pagination DIV should always carry "paginate-SLIDERID" CSS class-->
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>

<body onLoad="MM_preloadImages('../../images/whatsnew/ask-dr-raju-blue.jpg')">
<div id="askraju"><a href="mailto:hhcpresident@nychhc.org"  onClick="ga('send', 'event', 'email', 'Email Question', 'Email To Raju');" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('raju','','../../images/whatsnew/ask-dr-raju-blue.jpg',1)"><img src="../../images/whatsnew/ask-dr-raju-orange.jpg" alt="Email Dr. Raju your question!" name="raju" width="207" height="78" border="0" id="raju" /></a></div>
<div class="whatsnew">
  <div id="slider1" class="sliderwrapper"> <span class="header">What's New</span> 
  <style>
  <!--
  .cropdiv { overflow:hidden; height:110px; margin-bottom:5px;}
  -->
  </style>


<div class="contentdiv">
					<div class="cropdiv">
					<img style="width:165px;" src="../../images/hiv-infographic-2014_V2.jpg">
</div>
<a href="../../html/news/press-release-20141201-world-aids-day.shtml?whatsnew=1"> New Yorkers Reminded to Get Tested </a><div class="text">Millions tested by HHC through HIV services.</div>
<div class="fullstory"><a href="../../html/news/press-release-20141201-world-aids-day.shtml?whatsnew=1"> Full Story </a></div>
</div>
<div class="contentdiv">
					<div class="cropdiv">
					<img style="width:165px;" src="http://www.nyc.gov/html/hhc/images/ribbon_cutting.jpg">
</div>
<a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141117-supporting-housing-developments.shtml?whatsnew=2"> HHC/CAMBA Partnership Paying Off </a><div class="text">New supportive housing on Kings County Hospital campus
</div>
<div class="fullstory"><a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141117-supporting-housing-developments.shtml?whatsnew=2"> Full Story </a></div>
</div>
<div class="contentdiv">
					<div class="cropdiv">
					<img style="width:165px;" src="http://www.nyc.gov/html/hhc/images/whatsnew/Before-and-After_ConeyIsleHospital-EEProject-sm.jpg">
</div>
<a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141113-coney-island-energy.shtml?whatsnew=3"> New: Upgrades at Coney Island Hospital </a><div class="text">Completion of energy efficiency and storm resiliency upgrades.
</div>
<div class="fullstory"><a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141113-coney-island-energy.shtml?whatsnew=3"> Full Story </a></div>
</div>
<div class="contentdiv">
					<div class="cropdiv">
					<img style="width:165px;" src="http://www.nyc.gov/html/hhc/images/whatsnew/20141106-fema-sm.jpg">
</div>
<a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141106-FEMA-Commitment.shtml?whatsnew=4"> FEMA Commits $1.6B to Rebuild, Repair </a><div class="text">Funds will help four Sandy-damaged HHC hospitals.
</div>
<div class="fullstory"><a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141106-FEMA-Commitment.shtml?whatsnew=4"> Full Story </a></div>
</div>
<div class="contentdiv">
					<div class="cropdiv">
					<img style="width:165px;" src="http://www.nyc.gov/html/hhc/images/whatsnew/HHC-logo.jpg">
</div>
<a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141105-SBH-HHC-collaboration.shtml?whatsnew=5"> HHC to Partner with SBH Health </a><div class="text">Agreement will transform healthcare in the Bronx.
</div>
<div class="fullstory"><a href="http://www.nyc.gov/html/hhc/html/news/press-release-20141105-SBH-HHC-collaboration.shtml?whatsnew=5"> Full Story </a></div>
</div>



  </div>
  <div id="paginate-slider1" class="pagination" > </div>
</div>
<script type="text/javascript">

featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: ["&#x2022;", "&#x2022;", "&#x2022;", "&#x2022;", "&#x2022;"],  //Valid values: "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
	enablefade: [true, 0.2],  //[true/false, fadedegree]
	autorotate: [true, 3000],  //[true/false, pausetime]
	onChange: function(previndex, curindex, contentdivs){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (0=1st slide, 1=2nd etc)
		//curindex holds index of currently shown slide (0=1st slide, 1=2nd etc)
	}
})

</script> 

<!-- Don't delete from here to end --> 

<!--<div id="hpnews-slider" style="display:none;"></div>--> 

<!-- End --> 
