<div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='../../images/hiv-infographic-2014_V2.jpg' /></div><a href='../../html/news/press-release-20141201-world-aids-day.shtml?whatsnew=1'> New Yorkers Reminded to Get Tested </a><div class='text'>Millions tested by HHC through HIV services.</div>
<div class='fullstory'><a href='../../html/news/press-release-20141201-world-aids-day.shtml?whatsnew=1'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='http://www.nyc.gov/html/hhc/images/ribbon_cutting.jpg' /></div><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141117-supporting-housing-developments.shtml?whatsnew=2'> HHC/CAMBA Partnership Paying Off </a><div class='text'>New supportive housing on Kings County Hospital campus
</div>
<div class='fullstory'><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141117-supporting-housing-developments.shtml?whatsnew=2'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='http://www.nyc.gov/html/hhc/images/whatsnew/Before-and-After_ConeyIsleHospital-EEProject-sm.jpg' /></div><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141113-coney-island-energy.shtml?whatsnew=3'> New: Upgrades at Coney Island Hospital </a><div class='text'>Completion of energy efficiency and storm resiliency upgrades.
</div>
<div class='fullstory'><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141113-coney-island-energy.shtml?whatsnew=3'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='http://www.nyc.gov/html/hhc/images/whatsnew/20141106-fema-sm.jpg' /></div><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141106-FEMA-Commitment.shtml?whatsnew=4'> FEMA Commits $1.6B to Rebuild, Repair </a><div class='text'>Funds will help four Sandy-damaged HHC hospitals.
</div>
<div class='fullstory'><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141106-FEMA-Commitment.shtml?whatsnew=4'> Full Story </a></div></div><div class='contentdiv'>
					<div class='cropdiv'>
					<img style='width:165px;' src='http://www.nyc.gov/html/hhc/images/whatsnew/HHC-logo.jpg' /></div><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141105-SBH-HHC-collaboration.shtml?whatsnew=5'> HHC to Partner with SBH Health </a><div class='text'>Agreement will transform healthcare in the Bronx.
</div>
<div class='fullstory'><a href='http://www.nyc.gov/html/hhc/html/news/press-release-20141105-SBH-HHC-collaboration.shtml?whatsnew=5'> Full Story </a></div></div>