<h1>Listing releases</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Short</th>
      <th>Content</th>
      <th>Image url</th>
      <th>Slug</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.title %></td>
        <td><%= release.short %></td>
        <td><%= release.content %></td>
        <td><%= release.image_url %></td>
        <td><%= release.slug %></td>
        <td><%= release.date %></td>
        <td><%= link_to 'Show', release %></td>
        <td><%= link_to 'Edit', edit_release_path(release) %></td>
        <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release', new_release_path %>
