<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @release.title %>
</p>

<p>
  <strong>Short:</strong>
  <%= @release.short %>
</p>

<p>
  <strong>Content:</strong>
  <%= @release.content %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @release.image_url %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @release.slug %>
</p>

<p>
  <strong>Date:</strong>
  <%= @release.date %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
