<%= form_for(@whatsnews) do |f| %>
  <% if @whatsnews.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whatsnews.errors.count, "error") %> prohibited this whatsnews from being saved:</h2>

      <ul>
      <% @whatsnews.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
