<h1>Listing whatsnews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Content</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whatsnews.each do |whatsnews| %>
      <tr>
        <td><%= whatsnews.title %></td>
        <td><%= whatsnews.image %></td>
        <td><%= whatsnews.content %></td>
        <td><%= whatsnews.link %></td>
        <td><%= link_to 'Show', whatsnews %></td>
        <td><%= link_to 'Edit', edit_whatsnews_path(whatsnews) %></td>
        <td><%= link_to 'Destroy', whatsnews, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whatsnew', new_whatsnews_path %>
