<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @whatsnews.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @whatsnews.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @whatsnews.content %>
</p>

<p>
  <strong>Link:</strong>
  <%= @whatsnews.link %>
</p>

<%= link_to 'Edit', edit_whatsnews_path(@whatsnews) %> |
<%= link_to 'Back', whatsnews_path %>
