<div style="width: 500px;">

<h1>Stay Healthy</h1>
<h1> <%= @title %></h1>

    <% @tips.each do |tip| %>
        <h3><%= link_to(tip.title, tip)  %></h3>
        <%= image_tag tip.imge_url %>
        <p><%= raw tip.content.truncate(100) %></p>
    <% end %>
<br>
</div>