<p id="notice"><%= notice %></p>

<div style="width: 500px;">
<h3>
  <%= @tip.title %>
</h3>

<p>
  <%= image_tag(@tip.imge_url) %>
</p>

<p>
  <%= raw(@tip.content) %>
</p>
<%= link_to 'Back', tips_path %>
</div>