<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Hero Thumbnail" %><br>
    <%= f.file_field :hero_thumb %>
  </div>
  <div class="actions">
    <%= f.submit "Upload Image", class: 'btn' %>
  </div>
<% end %>
