
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @image.hero_thumb.url(:thumb), :id => "preview" %>
	<p style="font-size: 13px;"><%= link_to 'Download', @image.hero_thumb.url(:thumb), :download =>  @image.hero_thumb.url(:thumb) %></p>

</div>

