<p id="notice"><%= notice %></p>
<h2>Crop Hero Image</h2>
<%= image_tag(@image.hero_thumb.large, :id => 'cropbox') %>


<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @image.hero_thumb.url(:large), :id => "preview" %>
</div>


<%= form_for @image do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>