<%= form_for(@layout) do |f| %>
  <% if @layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layout.errors.count, "error") %> prohibited this layout from being saved:</h2>

      <ul>
      <% @layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :layout_name %><br>
    <%= f.text_field :layout_name %>
  </div>
  <div class="field">
    <%= f.label :head %><br>
    <%= f.text_area :head %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :og_title %><br>
    <%= f.text_field :og_title %>
  </div>
  <div class="field">
    <%= f.label :og_description %><br>
    <%= f.text_area :og_description %>
  </div>
  <div class="field">
    <%= f.label :og_image %><br>
    <%= f.text_field :og_image %>
  </div>
  <div class="field">
    <%= f.label :body_top %><br>
    <%= f.text_area :body_top %>
  </div>
  <div class="field">
    <%= f.label :body_bottom %><br>
    <%= f.text_area :body_bottom %>
  </div>
  <div class="field">
    <%= f.label :sidebar %><br>
    <%= f.text_field :sidebar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
