<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <title>Academia</title>
  <%= stylesheet_link_tag    'image/application', media: 'all' %>
  <%= javascript_include_tag 'application', 'coffee/image' %>
  <%= csrf_meta_tags %>
  	<link href='http://fonts.googleapis.com/css?family=Paytone+One|Fredoka+One|Sigmar+One|Changa+One|Righteous|Luckiest+Guy|Kaushan+Script' rel='stylesheet' type='text/css'>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">  
</head>
<body>

	<div class="container">
		<div class="sixteen columns">
			<header>
				<div class="title">
					<a href="<%= root_url%>" class="logo"><%= image_tag("logo.png", width: '20')%></a>
					<h1 class="name"><a href="<%= root_url%>">Image Cropper Tool</a></h1>
					<h2 class="tagline">The best design links, every day.</h2>
				</div>
				<nav>
				</nav>
			</header>

			<div class="content">
<%= yield %>

			</div>
		</div>

	</div><!-- container -->

</body>
</html>
