<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta name="tp-name" content="homepage_3col">
  <title>3 Expert Sun Protection Tips</title>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5409e556652804d7"></script>
  <meta property="og:title" content="3 Expert Sun Protection Tips" /> 
  <meta property="og:description" content="Most people know UV radiation from the sun can cause skin cancer. But did you know that the sun’s rays are also responsible for more than 90% of visible changes commonly attributed to skin aging, such as wrinkles, sagging, dryness, moles, and dark blotches? The sun’s rays tend to suppress the skin’s immunity, making some people more prone to cold sores or other skin infections." />  
  <meta property="og:image" content="http://www.nyc.gov/html/hhc/images/healthy/expert-sun-protection.jpg" /> 

  <link href="../../includes/css/rollout.css" rel="stylesheet"><style type="text/css">
  .relatearticleslineheight {
    line-height: 12px;
  }
  </style>
</head>
<body  background="../../includes/site_images/misc/bg.gif"
bgcolor="#ffffff" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
<table width="999" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr>
    <td colspan="3" align="left" valign="top" width="999">

      <!--#include virtual="../../includes/content/nyc_gov/nycgov_header_wide.html" --> 

      <!--#include virtual="../../includes/content/branding/default_header.html" --></td>
    </tr>

    <tr> 
      <td align="left" valign="top" width="220" height="100%"><!--#include virtual="../../includes/content/nav/leftnav_js.html" --></td>

      <td id="main_content" align="left" valign="top" width="559"><!-- START of PRIMARY FEATURE SECTION -->

        <table width="559" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3" align="left" valign="top" bgcolor="" width="559"></td>
          </tr>
        </table>

        <table width="559" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3" align="left" valign="top" bgcolor="" width="559"></td>
          </tr>
          <tr>
            <td align="left" bgcolor="" valign="top" width="25"><img src="../../includes/site_images/misc/spacer.gif" alt="" width="25" height="20" border="0"></td>
            <td align="left" colspan="1" bgcolor="" valign="top" width="509"><img src="../../includes/site_images/misc/spacer.gif" alt="" width="509" height="15" border="0"><br>
              <div class="body_right">
                <p class="heading1-article" >
                  <img height="28" width="33" src="../../includes/site_images/icons-title-patients.jpg" alt="News" />Healthy Living Tips </p>
                  <p class="heading2-article" style="display:none;">3 Expert Sun Protection Tips</p>
                  <table border="0" cellpadding="0" align="right">
                    <tr>
                      <td></td>
                    </tr>
                  </table>
                  <%= yield %>

                  <p class="dottedseparator">&nbsp;</p>

                  Take care of your skin. <a href="http://www.nyc.gov/html/hhc/html/patients/ForPatients-FindHealthcare.shtml">Find a dermatologist</a> in your area. </p>
                </td>

                <td align="left" bgcolor="" valign="top" width="25"><img src="../../includes/site_images/misc/spacer.gif" alt="" width="25" height="20" border="0"></td>
              </tr>
            </table>


            <table width="559" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="left" valign="top" bgcolor="" width="559"></td>
              </tr>
            </table>

            <br>

            <!--#include virtual="../../includes/content/email_a_friend/share-tools-3col-pinterest.html" --> 
          </td>

          <td align="left" valign="top" width="220" id="col3_content">

            <!--#include virtual="../../includes/content/column_modules/stay-healthy-sidebar-3expert.html" -->
            
          </td>

        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="2"><!--#include virtual="../../includes/content/footers/default_footer.html" --></td>
        </tr>
        <tr height="25">
          <td colspan="3" align="left" valign="top" width="999" height="25">
            <!--#include virtual="../../includes/content/nyc_gov/nycgov_footer_wide.html" --> 
          </td>
        </tr>
      </table>
    </body>
    </html>
