<h1>Listing layouts</h1>

<table>
  <thead>
    <tr>
      <th>Layout name</th>
      <th>Head</th>
      <th>Title</th>
      <th>Og title</th>
      <th>Og description</th>
      <th>Og image</th>
      <th>Body top</th>
      <th>Body bottom</th>
      <th>Sidebar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @layouts.each do |layout| %>
      <tr>
        <td><%= layout.layout_name %></td>
        <td><%= layout.head %></td>
        <td><%= layout.title %></td>
        <td><%= layout.og_title %></td>
        <td><%= layout.og_description %></td>
        <td><%= layout.og_image %></td>
        <td><%= layout.body_top %></td>
        <td><%= layout.body_bottom %></td>
        <td><%= layout.sidebar %></td>
        <td><%= link_to 'Show', layout %></td>
        <td><%= link_to 'Edit', edit_layout_path(layout) %></td>
        <td><%= link_to 'Destroy', layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Layout', new_layout_path %>
