<p id="notice"><%= notice %></p>

<p>
  <strong>Layout name:</strong>
  <%= @layout.layout_name %>
</p>

<p>
  <strong>Head:</strong>
  <%= @layout.head %>
</p>

<p>
  <strong>Title:</strong>
  <%= @layout.title %>
</p>

<p>
  <strong>Og title:</strong>
  <%= @layout.og_title %>
</p>

<p>
  <strong>Og description:</strong>
  <%= @layout.og_description %>
</p>

<p>
  <strong>Og image:</strong>
  <%= @layout.og_image %>
</p>

<p>
  <strong>Body top:</strong>
  <%= @layout.body_top %>
</p>

<p>
  <strong>Body bottom:</strong>
  <%= @layout.body_bottom %>
</p>

<p>
  <strong>Sidebar:</strong>
  <%= @layout.sidebar %>
</p>

<%= link_to 'Edit', edit_layout_path(@layout) %> |
<%= link_to 'Back', layouts_path %>
